<div class="column">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <textarea matInput placeholder="Title" [(ngModel)]="title"></textarea>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Note</mat-label>
        <textarea matInput placeholder="Note" [(ngModel)]="note"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addPost()">Posten</button>
</div>


<mat-card class="showNotes" *ngFor="let titles of service.allNote[0]; let i = index">
    <mat-card-title>{{service.allNote[0][i]['title']}}</mat-card-title>
    <mat-card-subtitle>{{service.allNote[0][i]['note']}}</mat-card-subtitle>
    <mat-card-actions align="end">
        <button (click)="toTrash(i)" mat-button>to Trash</button>
        <button (click)="toArchiv(i)" mat-button>to Archiv</button>
    </mat-card-actions>
</mat-card>